<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google" content="notranslate">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포인트_조회</title>
    {% load static %}
    {% load humanize %}
    <link rel="stylesheet" type="text/css" href="{% static 'client_list/client_list.css' %}">

    <!--구글폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gamja+Flower&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <!--구글 플러스,마이너스,닫기 아이콘-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <!-- 정적 파일 링크 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="{% static 'client_list/client_list.js' %}"></script>

</head>
<body>
<div class="header">
    <div class="order-waiting-num">포인트 조회</div>
</div>


<div class="client-list-content">
    <div class="client-list-container">
        <table>
            <thead>
            <tr>
                <th>직분</th>
                <th>성함</th>
                <th>잔액</th>
                <th>회원번호</th>
                <th>저장</th>
            </tr>
            </thead>
            <tbody>
            {% for list in client_data %}
            <tr>
                <td class="client-id">{{ list.id }}</td>
                <td>
                    <input type="text" class="client-position" value="{{ list.position }}">
                </td>
                <td>
                    <input type="text" class="client-name" value="{{ list.name }}">
                </td>
                <td>{{ list.current_point|intcomma }}원</td>
                <td class="phone-number-td">
                    <input type="text" class="phone-number" value="{{ list.phone_number }}">
                </td>
                <td>
                    <button class="client-update" onclick="updateClient(this)">저장</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="client-add-content">
        <div class="client-add-container">
            <div class="client-add-position client-add-row">
                <div>직분:</div>
                <input type="text" class="client-add-input" id="position">
            </div>
            <div class="client-add-name client-add-row">
                <div>성함:</div>
                <input type="text" class="client-add-input" id="name">
            </div>
            <div class="client-add-point client-add-row">
                <div>금액:</div>
                <input type="text" class="client-add-input" id="point">
            </div>
            <div class="client-add-password client-add-row">
                <div>번호:</div>
                <input type="text" class="client-add-input" id="password">
            </div>
            <div class="client-add-select">
                <div class="client-add-yes" onclick="submitForm()">회원 추가</div>
                <div class="client-add-no" onclick="client_add_cancel()">취소 하기</div>
            </div>
        </div>
    </div>
    <div class="client-add-notify">
        <div class="client-list-message">* 잔액은 신중하게 적어주세요! ^^ *</div>
    </div>
    <div class="client-list-notify">
        <div class="client-list-message">* 직분, 성함, 회원번호 수정가능 *</div>
        <div class="client-add-btn" onclick="client_add()">멤버 추가</div>
    </div>
    <div class="client-add-complete">
        * 성공적으로 등록되었습니다 *
    </div>
</div>


</body>


<footer>
    <a class="material-symbols-outlined footer-icon" href="/manager" style="text-decoration: none;">reorder</a>
    <a class="material-symbols-outlined footer-icon" href="/PointExamine">payments</a>
    <a class="material-symbols-outlined footer-icon" href="/Client_list">person_add</a>
    <a class="material-symbols-outlined footer-icon" href="/Menu_list">playlist_add</a>
</footer>

</html>