<!DOCTYPE html>
<html translate="no" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
    <!--구글폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gamja+Flower&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <!--구글 플러스,마이너스,닫기 아이콘-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>

    <!-- 정적 파일 링크 -->
    <script type="text/javascript" src="{% static 'main/main.js' %}"></script>
</head>


<body>
<div class="app-container">
    <nav class="navbar">
        <div class="logo-section">
            <span class="nav_item">상품</span>
            <span class="nav_item">주문 내역</span>
            <span class="nav_item">마이페이지</span>
        </div>
        <div class="nav-left">
            <div class="date-time-section">{{ today|date:"Y.m.d" }}</div>
        </div>
    </nav>


    <div class="kategoria">
        <div class="kategoria-left">기본 카테고리</div>
        <div class="kategoria-row">
            {%for category in categorys%}
            <div class="kategoria-item" onclick="scrollToCategory('{{ category }}')">
                {{category}}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="menu-main">
        <div class="menu-box">
            {% for category in categorys %}
            <div class="menu-body">
                <div class="menu-kategoria-box">
                    <div id="{{category}}-scrollMove" class="menu-kategoria">
                        {{category}}
                    </div>
                </div>
                <div class="menu-section">
                    <!--메뉴 아이템 박스-->
                    {% for cafemenu in cafemenus %}
                    {% if cafemenu.category == category %}
                    <div class="menu-item"
                         onclick="openModal('{{ cafemenu.id }}', '{{ cafemenu.category }}', '{{ cafemenu.name }}', '{{ cafemenu.en }}', '{{ cafemenu.price }}', '{{ cafemenu.img }}', '{{ cafemenu.deg }}', '{{ cafemenu.options }}')">
                        <img class="menu-image" src="{{ cafemenu.img }}">
                        <div class="menu-card-body">
                            <div class="menu_name">
                                {{ cafemenu.name }}
                            </div>
                            <div class="menu-price">
                                {{ cafemenu.price }}원
                            </div>
                        </div>
                    </div>
                    <div id="orderModal-{{ cafemenu.en }}" class="modal_overlay">
                        <div class="modal_window">
                            <div class="modal-content">
                                <div class="modal-top">
                                    <div class="modal-left">
                                        <div class="modal-menu-img">
                                            <!--메뉴 이미지가 들어감-->
                                            <img class="menu-image" src="{{ cafemenu.img }}">
                                        </div>
                                        <div class="modal-menu-name">
                                            <!--메뉴 이름이 들어감-->
                                            {{ cafemenu.name }}
                                        </div>
                                        <div class="modal-menu-price">
                                            <!--메뉴 가격이 들어감-->
                                            {{ cafemenu.price }}원
                                        </div>
                                        <div class="order-item-counter">
                                            <span class="material-symbols-outlined modal_quantity_btn"
                                                  onclick="decreaseQuantity('modal-quantity')">remove</span>
                                            <div class="modal-quantity">
                                                1
                                            </div>
                                            <span class="material-symbols-outlined modal_quantity_btn"
                                                  onclick="increaseQuantity('modal-quantity')">add</span>
                                        </div>
                                    </div>
                                    <div class="modal-right">
                                        <div class="modal-option-container">
                                            <div class="modal-option-box">
                                                {% for option_name in cafemenu.options.split %}
                                                <div class="modal-option-line">
                                                    <div class="modal-option">{{ option_name }}</div>
                                                    <div class="modal-option-items">
                                                        {% for options in cafeoption %}
                                                        {% if options.option == option_name %}
                                                        {% if option_name == "아이스크림" %}
                                                        <div class="modal-option-item">
                                                                <span class="material-symbols-outlined modal_quantity_btn"
                                                                      onclick="decreaseQuantity('{{option_name}}')">remove</span>
                                                            <div class="{{option_name}}">
                                                                <!--메뉴 수량이 들어감-->
                                                                {{options.option_item}}
                                                            </div>
                                                            <span class="material-symbols-outlined modal_quantity_btn"
                                                                  onclick="increaseQuantity('{{option_name}}')">add</span>
                                                        </div>
                                                        {% else %}
                                                        <div class="modal-option-item">
                                                            {{options.option_item}}
                                                        </div>
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-bottom">
                                    <div class="modal-cancle"
                                         onclick="closeModal('{{ cafemenu.id }}', '{{ cafemenu.category }}', '{{ cafemenu.name }}', '{{ cafemenu.en }}', '{{ cafemenu.price }}', '{{ cafemenu.img }}', '{{ cafemenu.deg }}', '{{ cafemenu.options }}'); resetQuantity();">
                                        이전
                                    </div>
                                    <div class="modal-order-complete">주문담기</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</div>


<div class="order-section">
    <div class="order-header">
        <div class="order-header-left">
            주문 내역
        </div>
        <div class="order-total">
            <div>합계:</div>
            <div class="order-total-num">0</div>
            <div>잔</div>
        </div>
    </div>
    <div class="order-container">
        <div class='order-box'>
            <div class="order-item">
                <div class="order-item-left">
                    <div class="order-item-left-top">
                        <div class="order_name">아메리카노</div>
                    </div>
                    <div class="order-item-body">
                        <div class="order-item-body-middle">
                            <div class="order_price">2000원</div>

                            <div class="order-item-option">옵션변경
                            </div>
                        </div>
                        <div class="order-item-body-right">
                        </div>
                    </div>
                </div>
                <div class="order-item-middle">
                    <div class="order-item-counter">
                        <span class="material-symbols-outlined">remove</span>
                        <div class="order_quantity">2</div>
                        <span class="material-symbols-outlined">add</span>
                    </div>
                </div>
                <div class="order-item-right">
                    <img class="order-item-img"
                         src=https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[94]_20210430103337006.jpg/>
                    <span class="material-symbols-outlined order-item-close">close</span>
                </div>
            </div>
        </div>
    </div>
    <div class="order-pay-container">
        <div class="order-pay-box">페이지 박스</div>
    </div>
</div>
</body>
</html>

