<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google" content="notranslate">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카페지기 주문리스트</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'manager/manager.css' %}">

    <!--구글폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gamja+Flower&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <!--구글 플러스,마이너스,닫기 아이콘-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <!-- 정적 파일 링크 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="{% static 'manager/manager.js' %}"></script>

</head>
<body>
<div class="header">
    <div class="order-waiting-num">대기주문: {{ waiting_count }}</div>
</div>
<div class="main">
    <!--js에서 데이터가 들어와질 예정-->
    <div class="order-waiting-container">
    </div>
    <div class="order-menu-container">
        <div class="order-menu-body">
            <!--js에서 데이터가 들어와질 예정-->
        </div>
        <div class="order-menu-bottom">
            <div class="order-total-quantity"> 총: {{ order_list.order_name }}잔</div>
            <div class="order-name-title">{{ order_list.order_name }}</div>
            <div class="order-complete" onclick="orderCheck()">완성</div>
        </div>
    </div>
</div>

<footer>
    <a class="material-symbols-outlined footer-icon" href="/manager" style="text-decoration: none;">reorder</a>
    <a class="material-symbols-outlined footer-icon" href="/PointExamine">payments</a>
    <a class="material-symbols-outlined footer-icon" href="/Client_list">person_add</a>
    <a class="material-symbols-outlined footer-icon" href="/Menu_list">playlist_add</a>
</footer>

</body>
</html>
