<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google" content="notranslate">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 리스트</title>
    {% load static %}
    {% load humanize %}
    <link rel="stylesheet" type="text/css" href="{% static 'menu_list/menu_list.css' %}">

    <!--구글폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gamja+Flower&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <!--구글 플러스,마이너스,닫기 아이콘-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <!-- 정적 파일 링크 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="{% static 'menu_list/menu_list.js' %}"></script>

</head>
<body>
<div class="header">
    <a class="order-waiting-num" href="/">메뉴 리스트</a>
</div>


<div class="menu-list-content">
    <div class="menu-list-container-view">
        <table>
            <thead>
            <tr>
                <th>종류</th>
                <th>이름</th>
                <th>가격</th>
                <th>shot</th>
            </tr>
            </thead>
            <tbody>
            {% for list in menu_list %}
            <tr>
                <td class="menu-category">
                    {{ list.category }}
                </td>
                <td class="menu-name">
                    {{ list.name }}
                </td>
                <td class="menu-price">
                    {{ list.price }}
                </td>
                <td class="menu-shot">
                    {{ list.shot }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="menu-list-container-edit">
        <table>
            <thead>
            <tr>
                <th>종류</th>
                <th>이름</th>
                <th>가격</th>
                <th>shot</th>
                <th>옵션</th>
                <th>이미지</th>
                <th>온도</th>
                <th>저장</th>
            </tr>
            </thead>
            <tbody>
            {% for list in menu_list %}
            <tr>
                <td class="menu-id">{{ list.id }}</td>
                <td>
                    <input type="text" class="menu-category" value="{{ list.category }}">
                </td>
                <td>
                    <input type="text" class="menu-name" value="{{ list.name }}">
                </td>
                <td>
                    <input type="text" class="menu-price" value="{{ list.price }}">
                </td>
                <td>
                    <input type="text" class="menu-shot" value="{{ list.shot }}">
                </td>
                <td>
                    <input type="text" class="menu-options" value="{{ list.options }}">
                </td>
                <td>
                    <input type="text" class="menu-img" value="{{ list.img }}">
                </td>
                <td>
                    <input type="text" class="menu-deg" value="{{ list.deg }}">
                </td>
                <td>
                    <button class="menu-update" onclick="updateMenu(this)">저장</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!--필요한 인풋 -> 카테고리, 이름, 가격, 샷개수, 온도, 옵션, 이미지링크-->
    <div class="menu-list-container-add">
        <div class="menu-add-category menu-add-row">
            <div class="label">종류:</div>
            <input type="text" class="menu-add-input" id="category">
        </div>
        <div class="menu-add-name menu-add-row">
            <div class="label">이름:</div>
            <input type="text" class="menu-add-input" id="name">
        </div>
        <div class="menu-add-price menu-add-row">
            <div class="label">가격:</div>
            <input type="text" class="menu-add-input" id="price">
        </div>
        <div class="menu-add-shot menu-add-row">
            <div class="label">샷:</div>
            <input type="text" class="menu-add-input" id="shot">
        </div>
        <div class="menu-add-deg menu-add-row">
            <div class="label">온도:</div>
            <input type="text" class="menu-add-input" id="deg">
        </div>
        <div class="menu-add-options menu-add-row">
            <div class="label">옵션:</div>
            <input type="text" class="menu-add-input" id="options">
        </div>
        <div class="menu-add-img menu-add-row">
            <div class="label">이미지:</div>
            <input type="text" class="menu-add-input" id="img">
        </div>
    </div>
    <div class="menu-main-select-btn">
        <div class="select-btn edit-btn" onclick="menu_edit()">메뉴 수정</div>
        <div class="select-btn add-btn" onclick="menu_add()">메뉴 추가</div>
    </div>
    <div class="menu-edit-select-btn">
        <div class="edit-yes-btn" onclick="menu_edit_cancel()">수정 완료</div>
    </div>
    <div class="menu-add-select-btn">
        <div class="add-yes-btn" onclick="menu_add_submit()">메뉴 추가</div>
        <div class="add-no-btn" onclick="menu_add_cancel()">취소</div>
    </div>
</div>


</body>


<footer>
    <a class="material-symbols-outlined footer-icon" href="/manager" style="text-decoration: none;">reorder</a>
    <a class="material-symbols-outlined footer-icon" href="/PointExamine">payments</a>
    <a class="material-symbols-outlined footer-icon" href="/Client_list">person_add</a>
    <a class="material-symbols-outlined footer-icon" href="/Menu_list">playlist_add</a>
</footer>

</html>