{% if point_request %}
{% for data in point_request %}
<div class="point-box">
    <div class="point-box-header">
        <div class="point-charge-text">충전</div>
        {% load humanize %}
        <div class="point-charge-num">{{ data.push_point|intcomma }}원</div>
        <div class="point-currentpointofclientbuthidden">{{ data.current_point|intcomma }}</div>
    </div>
    <div class="point-box-body">
        <div class="point-date">{{ data.created_at|date:"[ m월 d일 ]" }}</div>
        <div class="point-origin-date">{{ data.created_at }}</div>
        <div class="point-password">{{ data.password }}</div>
        <div class="point-id">{{ data.id }}</div>
        <div class="point-client-name">{{ data.client_name }}</div>
    </div>
    <div class="point-select-btn">
        <div class="point-yes-btn" onclick="point_yes(this); div_delete(this)">승인</div>
        <div class="point-no-btn" onclick="point_no(this); div_delete(this)">취소</div>
    </div>
</div>
{% endfor %}
{% else %}
승인요청이 없음
{% endif %}