
:root {
    --font-googleTitan_One: 'Titan_One', cursive;
    --font-googleNanum_Pen_Script: 'Nanum_Pen_Script', cursive;
    --font-googleSingle_Day: 'Single_Day', cursive;
    --font-googleGamja_Flower: 'Gamja_Flower', cursive;
    --font-googleDongle-Bold: 'Dongle-Bold', cursive;
    --font-googleDongle-Light: 'Dongle-Bold', cursive;
    --font-googleDongle-Regular: 'Dongle-Bold', cursive;
}

::-webkit-scrollbar {
    display: none;
}

body {
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ff962d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav_item {
    margin-left: 20px;
    font-size: 2vw;
    font-weight: bold;
    color: #ffffff;
}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.date-time-section {
    font-size: 2.3vw;
    font-weight: bold;
    color: white;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.logo-section {
    display: flex;
    align-items: center;
}


.date-time-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


.kategoria {
    position: fixed;
    left: 0;
    top: 5vw;
    width: 70vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8vw 0;
    font-size: 2vw;
    font-weight: 600;
    font-family: 'Single Day', cursive;
}

.kategoria-left {
    margin: 0 22px;
}

.kategoria-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kategoria-item {
    border: dotted 3.5px grey;
    border-radius: 20px;
    width: 80px;
    margin: 0 20px;
    padding: 2px 0;
    text-align: center;
    scale: 0.9;
}

/* 선택된 요소에 대한 스타일 */
.selected {
    border: 0.3vw solid #ffb13d !important; /* 찐한 테두리 색상 */
    opacity: 1 !important;
}

/* 나머지 요소에 대한 스타일 */
.not-selected {
    opacity: 0.5; /* 불투명도 설정 (0.5는 50%의 불투명도를 의미) */
}

.menu-main {
    /*background-color: #f3f4f8;*/
    position: fixed;
    z-index: 2;
    left: 0;
    background-color: #ffefde;
    font-family: 'Gamja Flower', sans-serif;
    margin-top: 9.2vw; /* 상단 네비게이션 바 높이만큼 여백 추가 */
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.menu-box {
    overflow: scroll;
    height: 60vw;
}

.menu-body {
    display: flex;
    flex-direction: column;
}

.menu-kategoria-box {
    width: 70px;
}

.menu-kategoria {
    width: 80px;
    text-align: center;
    margin: 10px 10px 10px 15px;
    border: 5px solid #3d1404;
    border-radius: 20px;
    background-color: white;
    font-size: 2.5vw;
    font-weight: 600;
}

.menu-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 13px;
    margin-left: 1.2vw;
}

.menu-image {
    width: 15.8vw;
    height: 15.8vw;
    object-fit: cover;
    border-radius: 2vw;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border: 0.5px solid #adadad;
    transition: transform 0.3s ease-in;
}

.menu-image:active {
    transform: scale(1.5); /* 또는 원하는 만큼의 이동 거리 설정 */
}

.menu-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6vw;
    margin: 0.7vw 0.5vw;
}

.menu_name {
    font-size: 2.5vw;
    font-weight: 600;
    color: #462304;
}

.menu-price {
    font-size: 2.5vw;
    color: #575757;
}

.modal_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease; /* 트랜지션 효과 추가 */
}

.modal_window {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease; /* 트랜지션 효과 추가 */
    transform: translateY(100%); /* 처음에는 아래로 숨겨져 있음 */
    background: #ffffff;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 2vw;
    border: 1vw solid rgb(255, 177, 61);
    width: 70vw;
    padding: 2.5vw;
    font-family: 'Gamja Flower', sans-serif;
    font-weight: 600;
    color: #4d2107;
    font-size: 3vw;
}

.overlay-show {
    opacity: 1; /* 클래스가 추가되면 투명도를 1로 변경 */
}

.window-show {
    opacity: 1; /* 클래스가 추가되면 투명도를 1로 변경 */
    transform: translateY(0); /* 클래스가 추가되면 위로 나타남 */
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.modal-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 20vw;
}

.modal-menu-img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 1vw;
    border: .4vw solid #774721;
    background-color: black;
}

.modal-left-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
}

.modal-menu-name {
}


.madal-menu-total {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.modal-menu-price {
    width: 10vw;
}

.modal-menu-item-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fffff6;
    border: 0.3vw solid #ff9842;
    border-radius: 5px;
}

.modal-menu-quantity {
    text-align: center;
    width: 2.5vw;
    font-size: 2.5vw;
    font-weight: 600;
    transition: transform 0.1s ease-in-out; /* 부드러운 이동을 위한 transition 추가 */
    /*margin: 0 1vw;*/
}

.modal-menu-quantity-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0.5vw;
}

.modal-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 47vw;
    margin-bottom: 2vw;
}

.modal-option-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 97%;
    padding-bottom: 7vw;
    border: 5px solid #cb7618;
    border-radius: 1vw;
}

.modal-option-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 93%;
    padding: 0.2vw;
}

.modal-option-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 3px solid rgba(155, 155, 155, 0.27);
}

.modal-option-top-left {
    margin: 2vh 3.3vw;
    font-size: 4vw;
    width: 20vw;
}

.modal-option-top-right {
    width: 100%;
}

.modal-option-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0;
    height: 7vh;
    border-bottom: 3px solid rgba(155, 155, 155, 0.27);
}

.modal-option {
    font-size: 3vw;
    width: 20vw;
    text-align: center;
    border-right: 3px solid rgba(155, 155, 155, 0.27);
    margin-right: 0.6vw;
}

.modal-option-items {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.modal-option-item-text {
    flex: 1;
    margin: 0 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: #ffc597 0.4vw solid;
    background-color: #ffeddc;
    border-radius: 1vw;
    color: #cba99b;
    transition: transform 0.1s ease-in-out; /* 부드러운 이동을 위한 transition 추가 */
    font-weight: 100;
    cursor: pointer;
}

.option-def {
    border: #ff8000 0.4vw solid;
    background-color: #ffb14b;
    color: white;
    font-weight: 600;
}

.option-not-selected {
    border: #ffc597 0.4vw solid;
    background-color: #ffeddc;
    color: #cba99b;
    font-weight: 100;
}

.option-selected {
    border: #ff8000 0.4vw solid;
    background-color: #ffb14b;
    color: white;
    font-weight: 600 !important;
    scale: 1;
}

.modal-option-item-text:active {
    transform: translateY(-0.8vh); /* 클릭 시 아래로 2px 이동 */
}

.modal-option-item-counter {
    margin: 0 1vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    border-radius: 3vw;
}

.modal-option-item-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-option-quantity-btn {
    border: #ff8f36 0.4vw solid;
    border-radius: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5vw;
}

.material-symbols-outlined {
    font-weight: 600 !important;
}

.modal-option-quantity {
    text-align: center;
    width: 5vw;
    font-size: 3vw;
    font-weight: 600;
    transition: transform 0.1s ease-in-out; /* 부드러운 이동을 위한 transition 추가 */
    /*margin: 0 1vw;*/
}

.modal-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-cancle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 18.5vw;
    padding: 1vw 0;
    border: #ff8f36 solid 1vw;
    border-radius: 1vw;
    font-size: 4vw;
}

.modal-order-complete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45vw;
    padding: 1vw 0;
    border: #ff8f36 solid 1vw;
    border-radius: 1vw;
    font-size: 4vw;
}

.order-section {
    position: fixed;
    width: 30vw;
    height: 100vw;
    top: 0;
    right: 0;
    flex: 1;
    margin-top: 4.7vw; /* 상단 네비게이션 바 높이만큼 여백 추가 */
    background-color: #ffdba5;;
}


.order-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 10px 30px;
    font-weight: bold;
    color: #ffffff;
}

.order-header-left {
    color: #cc6351;
    font-size: 3vw;
    scale: 1.3;
    font-family: 'Dongle', sans-serif;
}

.order-total {
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    border: 0.5vw solid #de951f;
    border-radius: .7vw;
    background-color: #efb866;
    padding: 0.3vw;
    width: 10vw;
    text-align: center;
}

.order-total-num {
    width: 3vw;
}

.order-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    width: 94%;
    height: 68vh;
    margin: .45vw;
    border: 0.4vw solid #9f681f;
    border-radius: 1vw;
    background-color: #fff5ee;
    font-family: 'Nanum Pen Script', cursive;
    overflow: scroll;
}

.order-swiper-container {
    width: 100%;
    height: 11vh;
    overflow-x: scroll;
    scroll-snap-type: x
}

.order-swiper-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 48vw;
}

.order-swiper-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10vw;
}

.order-option-change-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.3vw solid #ff8d2f;
    background-color: #ffc251;
    color: white;
    font-weight: 600;
    border-radius: 1vw;
    width: 6vw;
    height: 6vh;
    margin-left: 2vw;
    font-size: 2.1vw;
}

.order-delete-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.3vw solid #ff2f2f;
    background-color: #ff8351;
    color: white;
    font-weight: 600;
    border-radius: 1vw;
    width: 5vw;
    height: 6vh;
    margin-right: 2vw;
    font-size: 2.5vw;
}

.order-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24vw;
    margin-top: 1.4vh;
    padding: 0.5vw 0.5vw 0.5vw 1vw;
    border-radius: 10px;
    border: 0.5vw solid #daa36d;
    color: #79471a;
    background-color: #ffedd2;
    transition: transform 0.3s ease;
    scroll-snap-align: center

}

.order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 7vh;
}

.order-item-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.order-item-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.order-item-rigit-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-right: 1vw;
}

.order-item-right-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-item-left-top {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.order_name {
    color: #4f2d0b;
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 0.1vw;
}

.order-option-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.order-option {
    border-radius: 0.5vw;
    color: white;
    background-color: chocolate;
    margin: 0 0.3vw 0.1vh 0;
    padding: 0.05vh 0.5vw;

}

.order-item-close {
    scale: 0.8;
    z-index: 1;
    position: relative;
    top: -6vh;
    right: -0.1vw;
    background-color: rgba(255, 255, 255, 0.56);
    height: 2vw;
    border-radius: 50%;
}

.order-item-body {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    width: 100%;
}

.order-item-top-left {
    display: flex;
    flex-direction: row;
}

.order-item-img {
    width: 4.5vw;
    height: 4.5vw;
    object-fit: cover;
    border-radius: 0.5vw;
}

.order-item-body-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 6.4vw;
}

.order-item-body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4vw;
}


.order-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.4vw;
    font-size: 2.3vw;
    font-weight: 600;
    padding: 0.2vh 0.3vw;
    margin-top: 0.4vh;
    height: 2vh;
}

.order-item-option {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fffff6;
    border: 3px solid #b7a27e;
    padding: 0.1vw 0.8vw;
    border-radius: 5px;
    font-size: 1.7vw;
}


.order-item-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fffff6;
    border: 3px solid #b7a27e;
    border-radius: 5px;
}


.order-quantity-btn {
    font-size: 1.5vw !important;
    margin: 0 0.2vw;
}

.order_quantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 0vh;
    font-size: 2vw;
    font-weight: 600;
    /*margin: 0 1vw;*/
}

.order_delete_btn {
    display: none;
}


.order-pay-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vw;
    margin: 1.5vw 0; /* 빼면 이상해짐 */
}

.order-pay-box {
    width: 100%;
    height: 100%;
    margin: 0.7vw;
    border: 0.7vw solid #ff8f36;
    border-radius: 1vw;
    background-color: #ffa724;
}
