

:root {
    --font-googleTitan_One: 'Titan_One', cursive;
    --font-googleNanum_Pen_Script: 'Nanum_Pen_Script', cursive;
    --font-googleSingle_Day: 'Single_Day', cursive;
    --font-googleGamja_Flower: 'Gamja_Flower', cursive;
    --font-googleDongle-Bold: 'Dongle-Bold', cursive;
    --font-googleDongle-Light: 'Dongle-Bold', cursive;
    --font-googleDongle-Regular: 'Dongle-Bold', cursive;
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ff962d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav_item {
    margin-left: 20px;
    font-size: 2vw;
    font-weight: bold;
    color: #ffffff;
}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.date-time-section {
    font-size: 2.3vw;
    font-weight: bold;
    color: white;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.logo-section {
    display: flex;
    align-items: center;
}


.date-time-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


.kategoria {
    position: fixed;
    top: 70px;
    width: 70vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    font-weight: 600;
    font-size: 1vw;
    font-family: var(--font-googleSingle_Day);
}

.kategoria-left {
    margin: 0 22px;
}

.kategoria-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kategoria-item {
    border: dotted 3.5px grey;
    border-radius: 20px;
    width: 80px;
    margin: 0 20px;
    padding: 2px 0;
    text-align: center;
    scale: 0.9;
}

.menu-main {
    /*background-color: #f3f4f8;*/
    position: fixed;
    background-color: #ffefde;
    font-family: var(--font-googleGamja_Flower);
    margin-top: 140px; /* 상단 네비게이션 바 높이만큼 여백 추가 */
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.menu-box {
    overflow: scroll;
    height: 60vw;
}

.menu-body {
    display: flex;
    flex-direction: column;
}

.menu-kategoria-box {
    width: 70px;
}

.menu-kategoria {
    width: 80px;
    text-align: center;
    margin: 10px 10px 10px 15px;
    border: 5px solid #3d1404;
    border-radius: 20px;
    background-color: white;
    font-size: 2.5vw;
    font-weight: 600;
}

.menu-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 13px;
    margin-left: 1.2vw;
    transition: transform 0.3s ease;
}

.menu-image {
    width: 15.8vw;
    height: 15.8vw;
    object-fit: cover;
    border-radius: 2vw;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border: 0.5px solid #adadad;
}

.menu-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6vw;
    margin: 0.7vw 0.5vw;
}

.menu_name {
    font-size: 2.6vw;
    font-weight: 600;
    color: #462304;
}

.menu-price {
    font-size: 2.5vw;
    color: #575757;
}

.order-section {
    position: fixed;
    width: 30vw;
    height: 100vw;
    top: 0;
    right: 0;
    flex: 1;
    margin-top: 70px; /* 상단 네비게이션 바 높이만큼 여백 추가 */
    background-color: #ffdba5;;
}


.order-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 10px 30px;
    font-weight: bold;
    color: #ffffff;
}

.order-header-left {
    color: #cc6351;
    font-size: 3vw;
    scale: 1.3;
    font-family: var(--font-googleDongle-Bold);
}

.order-total {
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    border: 0.5vw solid #de951f;
    border-radius: .7vw;
    background-color: #efb866;
    padding: 0.3vw;
    width: 10vw;
    text-align: center;
}

.order-total-num {
    width: 3vw;
}

.order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vw;
    overflow: scroll;
    margin: .45vw;
    border: 0.4vw solid #9f681f;
    border-radius: 1vw;
    background-color: #fff5ee;
    font-family: var(--font-googleNanum_Pen_Script);
}

.order-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 24vw;
    margin-top: 0.7vw;
    padding: 0.5vw 1vw;
    border-radius: 10px;
    border: 0.5vw solid #daa36d;
    color: #79471a;
    background-color: #ffedd2;
    transition: transform 0.3s ease;
}

.menu-item:active {
    transform: translateY(-5px); /* 또는 원하는 만큼의 이동 거리 설정 */
}

.animate {
    transform: translateY(-5px); /* 또는 원하는 만큼의 이동 거리 설정 */
}

.order-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}

.order-item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.order-item-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5.4vw;
}

.order-item-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.order-item-left-top {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.order_name {
    color: #4f2d0b;
    font-size: 2vw;
    font-weight: 600;
}

.order-item-close {
    font-size: 1.5vw;
    z-index: 1;
    position: absolute;
    top: 0.1vw;
    right: -0.5vw;
    background-color: rgba(255, 255, 255, 0.56);
    height: 1.5vw;
    border-radius: 50%;
}

.order-item-body {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    width: 100%;
}

.order-item-top-left {
    display: flex;
    flex-direction: row;
}

.order-item-img {
    width: 4vw;
    height: 4vw;
    object-fit: cover;
    scale: 1.3;
    border-radius: 0.5vw;
    position: absolute;
    right: 0;
}

.order-item-body-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 6.4vw;
}

.order-item-body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4vw;
}


.order_price {
    font-size: 2.5vw;
    font-weight: 500;
    height: 2.7vw;
}

.order-item-option {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fffff6;
    border: 3px solid #b7a27e;
    padding: 0.1vw 0.8vw;
    border-radius: 5px;
    font-size: 1.7vw;
}


.order-item-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fffff6;
    border: 3px solid #b7a27e;
    border-radius: 5px;
}


.order_quantity_btn {
    border-radius: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0.3vw;
}

.order_quantity {
    text-align: center;
    width: 2vw;
    font-size: 2vw;
    font-weight: 600;
    /*margin: 0 1vw;*/
}

.order_delete_btn {
    display: none;
}


.order-pay-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vw;
    margin: 1.5vw 0; /* 빼면 이상해짐 */
}

.order-pay-box {
    width: 100%;
    height: 100%;
    margin: 0.7vw;
    border: 0.7vw solid #ff8f36;
    border-radius: 1vw;
    background-color: #ffa724;
}