
::-webkit-scrollbar {
    display: none;
}

html {
    background-color: #ffdba5;
}

:root {
    --font-googleTitan_One: 'Titan_One', cursive;
    --font-googleNanum_Pen_Script: 'Nanum_Pen_Script', cursive;
    --font-googleSingle_Day: 'Single_Day', cursive;
    --font-googleGamja_Flower: 'Gamja_Flower', cursive;
    --font-googleDongle-Bold: 'Dongle-Bold', cursive;
    --font-googleDongle-Light: 'Dongle-Bold', cursive;
    --font-googleDongle-Regular: 'Dongle-Bold', cursive;
}

/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: #ff8f36;
    font-family: 'Dongle', sans-serif;
}

.order-waiting-num {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    scale: 2;
}

.point-content {
    position: absolute;
    top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: calc(100% - 10rem);
    z-index: 2;
}

.point-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 130vw;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

#result {
    font-size: 3.5vw;
}

.number-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 7px solid rgb(255, 177, 61);
    border-radius: 20px;
    background-color: white;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.phone-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.digit-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 16vw;
    height: 16vw;
    border: 0.25rem solid orange;
    background-color: #fff3e3;
    border-radius: 10px;
    color: chocolate;
    font-size: 5rem;
    font-weight: 600;
    font-family: 'Gamja Flower', sans-serif;
}

.number-board-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
    text-align: center;
    color: #afafaf;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    font-family: 'Gamja Flower', sans-serif;
}

.number-buttons {
    display: grid;
    grid-template-columns: repeat(3, 24vw);
    grid-gap: 10px;
}

.number {
    text-align: center;
    font-size: 14vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    font-family: 'Gamja Flower', sans-serif;
    color: #4d2107;
}

.clear-btn {
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    font-weight: 600;
    font-family: 'Gamja Flower', sans-serif;
    color: #4d2107;
}

.number:hover {
    background-color: #f2f2f2;
}

.backspace {
    font-size: 2rem !important;
    scale: 2;
    color: #4d2107;
    border-radius: 10px;
}

#submitBtn {
    display: none;
}

.manager-name {
    display: none;
}

.point-body-select {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 1rem;

}

.select-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: #ff6f6f 7px solid;
    padding: 0.5rem 1rem;
    background-color: #ff8b75;
    color: white;
    font-size: 7vw;
    font-weight: 600;
    font-family: 'Gamja Flower', sans-serif;
}


.point-board {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*혹시 다 내보내주실수 있슴까 2명다*/
    width: 90%;
    height: 100%;
    border: 7px solid rgb(255, 177, 61);
    border-radius: 20px;
    background-color: #fff4e4;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Gamja Flower', sans-serif;
    color: #4d2107;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
    overflow: scroll;
}

.point-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 15rem;
    height: 12rem;
    background-color: white;
    border-radius: 15px;
    border: #ffae3a 5px solid;
    margin-top: 1rem;
}

.point-box:last-child {
    margin-bottom: 1rem;
}


.point-box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    border-bottom: 2px solid #ffdcc3;
}

.point-charge-text {
    color: white;
    background-color: #ff7e7e;
    border-radius: 5px;
    padding: 0 0.4rem;
    font-size: 1.2rem;
}

.point-charge-num {
    color: #9d3b00;
}

.point-box-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.point-date {
    color: #cba589;
    font-size: 1.3rem;
}

.point-origin-date {
    display: none;
}

.point-password {
    display: none;
}

.point-id {
    display: none;
}

.point-client-name {
    font-size: 1.8rem;
}

.point-select-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 2.5rem;
    padding: 0.4rem 0;
    border-top: 2px solid #ffdcc3;
}

.point-yes-btn {
    border: #ff9600 solid 5px;
    background: #ffb52f;
    border-radius: 10px;
    height: 2rem;
    padding: 0 1rem;
    color: white;
}

.point-no-btn {
    border: #ff8f36 solid 5px;
    border-radius: 10px;
    height: 2rem;
    padding: 0 1rem;
    color: chocolate;
    background-color: #ffeed5;
}

.point-detail-list {
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 7px solid rgb(255, 177, 61);
    border-radius: 20px;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Gamja Flower', sans-serif;
    color: #4d2107;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
    overflow: scroll;
}


table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

thead {
    height: 5vh;
    font-family: "Gowun Dodum", sans-serif;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #ffd2c0;
    z-index: 1;
    font-family: 'Gamja Flower', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    color: #af300e;
}

th, td {
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #ff0000;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Gowun Dodum", sans-serif;
    font-style: normal;
}

th {
    background-color: #f2f2f2;
}

td:not(:last-child) {
    border-right: 1px solid #ff9c9c;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    background-color: #ff933c;
    color: #faeed8;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
}

.footer-icon {
    margin-top: 1rem;
    font-size: 2rem !important;
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 481px) {
    .number-board {
        scale: 0.5;
    }

    .phone-input {
        padding-top: 3rem;
    }

    .digit-input {
        font-size: 10rem;
    }

    .number-board-message {
        font-size: 3.2rem;
    }

    .clear-btn {
        font-size: 4.5rem;
    }

    .backspace {
        font-size: 6rem !important;
    }
}